$white: #ffffff;
$black: #0f0f0f;
$gray: #5d5d5d;
$lite-gray: #efefef;
$pink: #ab6786;
$purple: #b1346a;
$pfont: 'Montserrat', sans-serif;

$breakpoints: (
        'mobile-s': 320px,
        'mobile-m': 375px,
        'mobile-l': 420px,
        'mobile-xl': 570px,
        'small': 768px,
        'medium': 992px,
        'large': 1200px,
        'xlarge': 1440px,
        'xxlarge': 1920px,
        'xxxlarge': 2560px,
        '4k': 3840px
) !default;

$border-radius: 0.5rem;